.userPage {
    justify-content: center;
    display: grid;
    grid-template-columns: 1210px;
    margin-top: 70px;
}
.helloSection {
    display: grid;
    grid-template-columns: 600px 550px;
    column-gap: 60px;
}
.helloSection img { width: 550px; }
.userInfo { margin-top: 114px; }
.hello {
    font-family: 'jost';
    font-size: 46px;
    font-weight: bold;
}
.username {
    font-family: 'jost';
    font-size: 36px;
    font-weight: 300;
}
.birthDate {
    margin-top: 40px;
    font-size: 20px;
    font-family: 'jost';
    font-weight: 300;
}
.titleDoctor {
    font-family: 'jost';
    font-size: 28px;
    margin-bottom: 20px;
}
.singupSection {
    margin-top: 80px;
    width: 100%;
    justify-content: center;
}
.list, .toDoList {
    width: 100%;
    display: grid;
    grid-template-columns: 380px 380px 380px;
    column-gap: 35px;
    row-gap: 10px;
    margin-bottom: 80px;
}
.item {
    border: none;
    text-align: left;
    background-color: rgba(227, 227, 227, 0.3);
    border-radius: 5px;
    padding: 30px;
    cursor: pointer;
}
.item:hover { background-color: rgba(227, 227, 227, 0.7); }
.patientName, .patientNameModal, .commentModal  {
    font-family: 'jost';
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 20px;
}
.patientNoteDate {
    font-family: 'jost';
    font-size: 16px;
}
.patientPhoneModal, .patientCommentModal {
    font-family: 'montserrat-alternates';
    font-size: 16px;
}
.commentModal {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 8px;
}
.patientCommentModal { font-size: 14px; }
.addressNoteModal, .patientNoteDateModal {
    margin-top: 30px;
    font-family: 'jost';
    font-weight: 600;
}
.patientNoteDateModal {
    margin-top: 10px;
}
.searchNoteByDate {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-bottom: 30px;
}
.inputNoteDate {
    line-height: 20px;
    margin-right: 10px;
    font-family: 'montserrat-alternates';
    font-size: 14px;
}
.noteDate {
    width: 100px;
    height: 20px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    font-family: 'montserrat-alternates';
    padding-left: 25px;
}