.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}
.modalContent {
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    width: 40vw;
    transform: scale(0.5);
    transition: 0.2s all;
}
.modalContent.active { transform: scale(1); }